.home-wrapper {
  padding: 50px;  
}


.points-container {
  display: flex;
  flex-flow: row wrap;
}

.points-container li {
  width: 100%;
}

.grid-wrapper {
  width: 130px;
  display: flex;
  flex-flow: row wrap;
}