.container-list {
    
    width: 1510px;
    display: flex;
    flex-flow: row wrap;
    border: 1px solid #F00;
}


circle {
    stroke: #00F;
}


svg {
    width: 30px;
    height: 30px;
}


li {
    width: 30px;
    height: 30px;
    list-style: none;
    /*border: 0.1px solid #0F0;*/ 
}
