.navbar-wrapper {

  width: 700px;
  display: flex;
  flex-flow: row wrap;
  margin: 25px;
}


.navbar-wrapper li {
  width: 140px;
}


.navbar-wrapper li:nth-child(2) {
  width: 64px;
  margin: 0 50px;
}