.navbar-wrapper {

  width: 700px;
  display: flex;
  flex-flow: row wrap;
}


.navbar-wrapper li {
  width: 108px;
}


.navbar-wrapper li:nth-child(2) {
  width: 64px;
  margin: 0 50px;
}


.navbar-wrapper button {
  background-color: #00F;
}

